.theBody {
    display: grid;
    grid-template-areas: 
        'navigator content'
    ;
}

.navigatorContainer {
    grid-area: navigator;
}

.projectContainer {
    grid-area: content;
}

.projectContainer > h2 {
    margin-top: 1rem;
}