.container {
    display: flex; 
    justify-content: space-around;
    align-items: flex-start;
    height: 100vh; 
    width: 100%; 
    padding: 0 4rem; 
}

.cardsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
    padding: 0; 
    width: fit-content; 
}

.messagePanel {
    align-self: flex-start; 
}

.box {
    width: 13rem;
    height: 8rem;
    border: solid #D7FDD9;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    background-color: #D7FDD9;
    cursor: pointer;
    transition: .5s;
}

.box:hover {
    background-color: #179e1e;
    border: #179e1e;
}