.box {
    width: 13rem;
    height: 8rem;
    border: solid #D7FDD9;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
    margin-left: .5rem;
    background-color: #D7FDD9;
    cursor: pointer;
    transition: .5s;
}

.box:hover {
    background-color: #179e1e;
    border: #179e1e;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}