.icons {
    width: 2.6rem;
    height: 2.6rem;
    margin: 10px;
    cursor: pointer;
}

.numbers {
    font-size: 3rem;
    font-weight: 500;
}

.title {
    font-size: 13px;
}

.rigthSide {
    margin-left: 2rem;
    margin-bottom: 1.3rem;
}