body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 940px;
    border: solid #18ac8c 8px;
}
  
.topo {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 20px;
    margin-bottom: 50px;
}
.topo img {
    width: 150px;
}
.topo h2 {
    color: #0faa75;
    font-size: 40px;
    margin: 0;  
}
  
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.integrante {
    display: flex;
    flex-direction:row ;
    gap: 100px;
    margin-bottom: 10px;
    align-items: center;
}
.nome{
      width: 350px;
}
.curso{
      width: 300px;
}
label{
      color: #888;
      font-size: 20px;
}
.integrante input,
.integrante select {
    font-size: 18px;
    padding: 7px;
    margin-top: 3px;
    border: 2px solid #0faa75;
    border-radius: 7px;
}
  
.button { 
    background-color: #0faa75;
    color: #fff;
    padding: 12px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 35px;
    width: 400px;
    transition: background 0.5s;
}
.button:hover {
    background-color: #057950;
}
  
.required {
    color: red;
}
  