/* Este componente ocupa 100% da largura disponível no .mainContainer do DashboardStudent */
.integrantesContent {
    width: 100%;
}

.linesContainer {
    width: 70%;
    /* Centraliza o container de linhas dentro do IntegrantesContainer */
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    gap: 80px; 
}

.line {
    width: 100%;
    height: 1px;
    background-color: #149f53;
}