.container {
    display: flex;
    width: 100%;
}

.imgEmpathize {
    width: 30rem;
    height: 100%;
}

.rigthSide {
    display: flex;
    flex-direction: column;
    margin-left: 15rem;
    margin-top: 2rem;
    width: 100%;
}

.rigthSide > h3 {
    color: #0FAA75;
    margin-left: 5rem;
}

.rigthSide > button {
    margin-top: 1rem;
    width: 8rem;
    height: 2rem;
    margin-left: -10rem;
    background-color: #0FAA75;
    border: solid transparent;
    border-radius: 5px;
}

.leftSide {
    width: 50%;
}